@import forms.LoginData
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {
    <h1>Login</h1>

    @helper.form(action = routes.AuthController.login) {
        @helper.CSRF.formField

        @helper.inputText(loginForm("username"))
        @helper.inputText(loginForm("password"))

        @if(flash.get("error").isDefined) {
            <div class="error">@flash.get("error").get</div>
        }

        <button type="submit">Login</button>
    }
}
