@import forms.LoginForm
@(loginForm: Form[LoginForm])(implicit request: RequestHeader, messages: MessagesProvider)

@import helper._

@main("Login") {
    <h1>Login</h1>

    @form(action = routes.AuthController.login) {
        @CSRF.formField

        @inputText(loginForm("username"), '_label -> "Username")
        @inputPassword(loginForm("password"), '_label -> "Password")

        @if(loginForm.hasGlobalErrors) {
            <div class="error">
                <p>@loginForm.globalError.get.message</p>
            </div>
        }

        <div>
            <button type="submit">Login</button>
        </div>
    }
}