@import forms.LoginForm
@(loginForm: Form[LoginForm])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Register") {
    <h1>Register</h1>

    @helper.form(action = routes.AuthController.register) {
        @helper.CSRF.formField

        @helper.inputText(loginForm("username"))
        @helper.inputText(loginForm("password"))

        @if(flash.get("error").isDefined) {
            <div class="error">@flash.get("error").get</div>
        }

        <button type="submit">Login</button>
    }
}
